torch
torchvision
numpy
matplotlib
torchsummary
scipy
unidecode
transformers
bertviz
datasets
loralib
sentencepiece
langchain
bitsandbytes
accelerate
xformers
einops
albumentations
tiktoken
flash-attn==2.8.0.post2
diffusers
